body {}

form.node-form div.group-opr-data-left {  margin-right: 250px;}

form.node-form div.group-opr-data {
  float: right;
  width: 200px;
  padding: 5px;
  margin: 10px;
  border: 3px solid #F00;
}

form.node-form div.group-opr-data .form-item {
  margin: 0;
}

form.node-form div.group-opr-data .form-wrapper,
form.node-form div.group-opr-data > .form-type-item {
  border: 3px solid black;
  padding: 5px;
  margin: 0.5em 0 0 0;
}

form.node-form div.group-opr-data .select-or-other .form-item,
form.node-form div.group-opr-data .form-type-date-combo .form-item,
form.node-form div.group-opr-data .form-type-date-combo .date-padding,
form.node-form div.group-opr-data .form-wrapper .form-wrapper
{ border: none; padding: 0; margin: 0;}

form.node-form div.group-opr-data input[type=text] { width: 172px;}
form.node-form div.group-opr-data select { width: 180px;}
form.node-form div.group-opr-data > div.form-type-item:first-child,
form.node-form div.group-opr-data .form-wrapper:first-child {margin: 0;}

form.node-form div.group-opr-data #edit-field-serial-print { display: table;}
form.node-form div.group-opr-data #edit-field-serial-print > label { display: table-cell; vertical-align: middle;}
form.node-form div.group-opr-data #edit-field-serial-print > span.form-serial { display: table-cell; vertical-align: middle; font-size: 30px; width: 100%; text-align: center;}

form.node-form div.group-inline-fields div.form-item.form-type-textfield,
form.node-form div.group-inline-fields div.form-item.form-type-radios,
form.node-form div.group-inline-fields div.form-item.form-type-select,
form.node-form div.group-inline-fields div.form-item.form-type-checkboxes,
form.node-form div.group-inline-fields div.form-item.form-type-date-combo,
form.node-form div.group-inline-fields div.form-item.form-type-item
{ display: table; width: 95%; table-layout: fixed;}
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-textfield,
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-radios,
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-select,
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-checkboxes,
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-checkbox,
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-date-combo,
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-item
{ width: auto;}
form.node-form div.group-inline-fields div.form-item.form-type-date-combo .form-type-select
{ display: inline-block; width: auto;}
form.node-form div.group-inline-fields div.form-item.form-type-textfield > label,
form.node-form div.group-inline-fields div.form-item.form-type-radios > label,
form.node-form div.group-inline-fields div.form-item.form-type-select > label,
form.node-form div.group-inline-fields div.form-item.form-type-checkboxes > label,
form.node-form div.group-inline-fields div.form-item.form-type-date-combo > label,
form.node-form div.group-inline-fields div.form-item.form-type-item > label
{ display: table-cell; width: 25%; white-space: normal; padding-left: 1em; padding-right: 1em;/* vertical-align: middle;*/}
form.node-form div.group-inline-fields table.field-multiple-table
{ width: 60%; margin-left: 28%;}
form.node-form div.group-inline-fields.long div.form-item.form-type-textfield > label,
form.node-form div.group-inline-fields.long div.form-item.form-type-radios > label,
form.node-form div.group-inline-fields.long div.form-item.form-type-select > label,
form.node-form div.group-inline-fields.long div.form-item.form-type-checkboxes > label,
form.node-form div.group-inline-fields.long div.form-item.form-type-checkbox > label,
form.node-form div.group-inline-fields.long div.form-item.form-type-date-combo > label,
form.node-form div.group-inline-fields.long div.form-item.form-type-item > label
{ width: 50%;}
form.node-form div.group-inline-fields div.form-item.form-type-textfield > input[type=text]
{ display: table-cell; width: 100%;}
form.node-form div.group-inline-fields.nomaxwidth div.form-item.form-type-textfield > input[type=text]
{ width: auto;}
form.node-form div.group-inline-fields div.form-item.form-type-textfield > .field-suffix
{ display: table-cell; width: 10%; white-space: nowrap; padding-left: 1em; vertical-align: middle;}
form.node-form div.group-inline-fields div.form-item.form-type-radio { display: inline-block; margin-right: 0.5em;}
form.node-form div.group-inline-fields div.form-item.form-type-checkbox { display: inline-block; margin-right: 0.5em;}
form.node-form div.group-inline-fields div.form-item .container-inline-date { display: inline-block;}
form.node-form div.group-inline-fields div.form-item .container-inline-date .form-item,
form.node-form div.group-inline-fields div.form-item .container-inline-date .date-padding { padding: 0; margin: 0;}
form.node-form div.group-inline-fields div.form-item.form-type-checkboxes .form-type-checkbox > label { display: inline-block;}

form.node-form div.group-inline-fields div.form-item.form-type-select.form-item-field-gcs-und > label { vertical-align: top;}

form.node-form div.group-inline-fields.group-first-field-heading div.form-wrapper:first-child { margin-top: 19px;}
form.node-form div.group-inline-fields.group-first-field-heading div.form-wrapper:first-child > div.form-item > label { color: #41576C; font-size: 19px; padding-left: 0; width: auto; display: inline-block;}
form.node-form div.group-inline-fields.group-first-field-heading div.form-wrapper:first-child > div.form-item > div.form-radios { display: inline-block;}
form.node-form div.group-inline-fields.group-first-field-heading div.form-wrapper:first-child > div.form-item > label span.form-required { display: none;}

form.node-form div.group-inline-fields.field-group-multicol div.form-item { table-layout: auto;}
form.node-form div.group-inline-fields > div.form-wrapper { margin-bottom: 10px;}
form.node-form div.group-inline-fields.inline-nowrap div.form-item { table-layout: auto;}
form.node-form div.group-inline-fields.inline-nowrap div.form-item > label { white-space: nowrap;}

form.node-form div.group-inline-indented div.group-inline-fields > div.form-wrapper { margin-left: 3em;}

form.node-form div.group-nofieldlabel > div.form-wrapper > div > div > label { display: none;}

form.node-form .group-box { border: 1px solid black; margin-bottom: 2em;}
form.node-form .group-box > h3 {
  background-color: #D4C6EC;
  margin-top: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid black;
  text-decoration: none;
}

form.node-form div.group-accent > div.form-wrapper { border: 2px solid red;}
form.node-form div.group-accent div.description,
form.node-form div.field-group-notes { color: red;}

form.node-form table.field-group-format th { width: 60%; text-align: left;}
form.node-form table.field-group-format th label { font-weight: normal;}
form.node-form table.field-group-format th,
form.node-form table.field-group-format td
{ border: none;}
form.node-form table.field-group-format div.form-item { margin: 0;}
form.node-form table.field-group-format td.field-content .form-type-textfield label,
form.node-form table.field-group-format td.field-content .form-type-date-combo label
{ display: none;}
form.node-form table.field-group-format .container-inline-date .date-padding { padding: 0;}

form.node-form div.group-lab-results table th { width: 20%;}
form.node-form div.group-lab-results table th,
form.node-form div.group-lab-results table td
{ border: 1px solid #ccc;}

form.node-form .field-group-multiple-table .form-item table.field-group-multiple-table { margin-left: 20%; width: 80%;}
form.node-form .field-group-multiple-table .form-item table.field-group-multiple-table td { text-align: center; vertical-align: middle; padding: 0.5em;}
form.node-form .field-group-multiple-table .form-item table.field-group-multiple-table td > div { display: table; width: 100%;}
form.node-form .field-group-multiple-table .form-item table.field-group-multiple-table td input[type=text] { display: table-cell; width: 90%;}
form.node-form .field-group-multiple-table .form-item table.field-group-multiple-table td span.field-suffix { display: table-cell; width: auto; white-space: nowrap; padding-left: 1em;}
form.node-form .field-group-multiple-table .form-item table.field-group-multiple-table td .container-inline-date .form-item .form-item { display: block;}
form.node-form .field-group-conditional .field-group-multiple-table .form-item table.field-group-multiple-table { margin-left: 0; width: 100%;}
form.node-form .field-group-multiple-container { margin-left: 20%; width: 80%;}
form.node-form .field-group-conditional .field-group-multiple-container { margin-left: 0; width: auto;}

form.node-form .field-group-table .form-item div.description { display: inline-block;}

form.node-form .field-type-medical-genetics-field { margin-left: 20%; width: 80%;}
form.node-form .field-type-medical-dosage-field { margin-left: 20%; width: 80%;}
form.node-form td.field-group-conditional-child-field .field-type-medical-genetics-field,
form.node-form td.field-group-conditional-child-field .field-type-medical-dosage-field
{ margin-left: 0; width: auto;}

form.node-form .field-group-multicol-row { display: table; width: 100%;}
form.node-form .field-group-multicol-row > div { display: table-cell; width: 50%; padding: 0.5em;}
form.node-form .field-group-multicol-row-pull > div { padding-left: 50%;}

form.node-form .group-opr2-multipage-form { background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px; position: relative;}
form.node-form .group-opr2-multipage-form > .multipage-panes { padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#easy-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/easy-form-a-header.png);}
form#easy-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/easy-form-a-footer.png);}
form#easy-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/easy-form-b-header.png);}
form#easy-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/easy-form-a-footer.png);}
body.i18n-en form#easy-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/easy-form-a-eng-header.png);}
body.i18n-en form#easy-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/easy-form-a-eng-footer.png);}
body.i18n-en form#easy-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/easy-form-b-eng-header.png);}
body.i18n-en form#easy-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/easy-form-a-footer.png);}

form#easy-form-a-node-form div.field-group-conditional.group_therapy_iv table tbody { border-top: none;}
form#easy-form-a-node-form div.field-group-conditional.group_therapy_iv div.field-group-notes { text-align: right;}

form#pineapple-p-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/pineapple-p-form-a-header.png);}
form#pineapple-p-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/pineapple-p-form-a-footer.png);}
form#pineapple-p-form-a-eng-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/pineapple-p-form-a-eng-header.png);}
form#pineapple-p-form-a-eng-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/pineapple-p-form-a-eng-footer.png);}
form#apple-p-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/apple-p-form-a-header.png);}
form#apple-p-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/apple-p-form-a-footer.png);}
form#apple-p-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/apple-p-form-b-header.png);}
form#apple-p-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/apple-p-form-a-footer.png);}
body.i18n-en form#apple-p-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/apple-p-form-a-eng-header.png);}
body.i18n-en form#apple-p-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/apple-p-form-a-eng-footer.png);}
body.i18n-en form#apple-p-form-b-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/apple-p-form-b-eng-header.png);}
body.i18n-en form#apple-p-form-b-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/apple-p-form-a-eng-footer.png);}
form#apple-r-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/apple-r-form-a-header.png);}
form#apple-r-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/apple-p-form-a-footer.png);}
body.i18n-en form#apple-r-form-a-node-form .group-opr2-multipage-form { background-image: url(images/studies/small/apple-r-form-a-eng-header.png);}
body.i18n-en form#apple-r-form-a-node-form .group-opr2-multipage-form > .multipage-panes { background-image: url(images/studies/small/apple-p-form-a-eng-footer.png);}

form#register-acute-form-a-node-form { background-image: url(images/studies/small/register-acute-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-acute-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
form#register-acute-form-b-node-form { background-image: url(images/studies/small/register-acute-form-b-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-acute-form-b-node-form > div { background-image: url(images/studies/small/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#register-acute-form-a-node-form { background-image: url(images/studies/small/register-acute-form-a-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-acute-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
form#register-acute-form-b-node-form { background-image: url(images/studies/small/register-acute-form-b-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-acute-form-b-node-form > div { background-image: url(images/studies/small/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-cancer-form-a-node-form { background-image: url(images/studies/small/register-cancer-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-cancer-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#register-cancer-form-a-node-form { background-image: url(images/studies/small/register-cancer-form-a-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-cancer-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-chronic-form-a-node-form { background-image: url(images/studies/small/register-chronic-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-chronic-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#register-chronic-form-a-node-form { background-image: url(images/studies/small/register-chronic-form-a-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#register-chronic-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-autoimmune-form-a-node-form { background-image: url(images/studies/small/register-autoimmune-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-autoimmune-form-a-node-form > div { background-image: url(images/studies/small/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#register-ambulant-form-a-node-form { background-image: url(images/studies/small/register-ambulant-form-a-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#register-ambulant-form-a-node-form > div { background-image: url(images/studies/small/register-ambulant-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form#control-sample-node-form { background-image: url(images/studies/small/control-sample-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
form#control-sample-node-form > div { background-image: url(images/studies/small/register-acute-form-a-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}
body.i18n-en form#control-sample-node-form { background-image: url(images/studies/small/control-sample-eng-header.png);background-color: white; background-position: top center; background-repeat: no-repeat; border: 2px solid #ccc; background-size: 790px auto; padding-top: 150px !important; position: relative;}
body.i18n-en form#control-sample-node-form > div { background-image: url(images/studies/small/register-acute-form-a-eng-footer.png);padding: 10px; background-position: bottom center; background-repeat: no-repeat; background-size: 790px auto; padding-bottom: 100px;}

form.node-form .group-opr2-multipage-form .multipage-button input { position: absolute; bottom: 0px; width: 50px; height: 50px; font-size: 1px; cursor: pointer; border: none;}
form.node-form .group-opr2-multipage-form .multipage-button input.multipage-link-previous { left: 0px; background-image: url(images/fold-bl.png);}
form.node-form .group-opr2-multipage-form .multipage-button input.multipage-link-next { right: 0px; background-image: url(images/fold-br.png);}

form.node-form .form-type-item .opr-item { border: 1px solid #ccc; padding: 5px; display: inline-block; }
form.node-form .opr-item-textarea .form-type-item .opr-item { display: block; }
form.node-form .form-type-item .opr-item-empty { background-color: #eee;}
form.node-form .form-type-item .opr-item-deprecated { color: red; font-size: 0.8em;}
form.node-form table.field-group-multiple-table .opr-item { border: none; background-color: inherit;}

form.node-form .group-opr2-multipage-form .tabledrag-toggle-weight-wrapper,
form.node-form .group-opr2-multipage-form a.tabledrag-handle,
form.node-form .group-opr2-multipage-form .tabledrag-hide { display: none;}
form.node-form .group-opr2-multipage-form table.field-multiple-table div.form-item { margin: 0.5em 0;}

form.node-form input[readonly].form-text {
  background-color: #eee;
  color: #aaa;
}
ul.opr-study-list li {
  background-image: none !important;
}
ul.opr-study-list li span,
ul.opr-study-list li a,
span.opr-study-label-button {
  display: inline-block;
  background-color: #333;
  background-image: none;
  border: 5px outset #777;
  margin: 0 5px 5px 0;
  padding: 0.5em;
}

ul.opr-study-list li a {
  color: #FFF !important;
  font-weight: bold;
}

ul.opr-study-list-inline li { display: inline-block !important; width: auto;}
ul.opr-study-list li.opr-study-EASY a { background-color: #2E518F; border-color: #2E518F;}
ul.opr-study-list li.opr-study-PINEAPPLE-P a { background-color: #E66E00; border-color: #E66E00;}
ul.opr-study-list li.opr-study-APPLE-P a { background-color: #006600; border-color: #006600;}
ul.opr-study-list li.opr-study-APPLE-R a { background-color: #006600; border-color: #006600;}
ul.opr-study-list li.opr-study-Register a { background-color: #666; border-color: #666;}
ul.opr-study-list li.opr-study-form-disabled span { color: #aaa; background-color: #777; cursor: no-drop;}

span.opr-study-label { padding: 3px; display: inline-block; background-color: #777; color: #fff; border-radius: 2px;}
span.opr-study-label a { color: inherit;}
span.opr-study-label.opr-study-EASY { background-color: #2E518F; border-color: #2E518F;}
span.opr-study-label.opr-study-PINEAPPLE-P,
span.opr-study-label.opr-study-PINEAPPLE-R { background-color: #E66E00; border-color: #E66E00;}
span.opr-study-label.opr-study-APPLE-P,
span.opr-study-label.opr-study-APPLE-R { background-color: #006600; border-color: #006600;}
span.opr-study-label.opr-study-Register,
span.opr-study-label.opr-study-Register-AP,
span.opr-study-label.opr-study-Register-PC,
span.opr-study-label.opr-study-Register-CP { background-color: #666; border-color: #666;}
span.opr-study-label.opr-study-imported { background-color: red; color: white;}

div.block-opr2 ul.opr-study-list-table { display: table; border-spacing: 5px; border-collapse: separate;}
div.block-opr2 ul.opr-study-list-table li { display: table-row;}
div.block-opr2 ul.opr-study-list-table li a { display: table-cell;}
div.block-opr2 ul.opr-study-list-table li a.opr-form-add { width: 100%;}
div.block-opr2 ul.opr-study-list-table li a.opr-form-list { width: 1px;}

form.node-form .group-opr2-easy-form-b .multipage-pane-wrapper { position: relative;}
form.node-form .group-opr2-easy-form-b .group-opr-data { position: absolute; right: 0; top: 0; margin-top: 0;}
form.node-form #edit-field-inpatient-day { width: 300px; padding: 0 10px; border: 3px solid black;}
form.node-form #edit-field-inpatient-day .form-item { display: table;}
form.node-form #edit-field-inpatient-day label { display: table-cell; width: 1px; padding-right: 5px; white-space: nowrap;}
form.node-form #edit-field-inpatient-day input { display: table-cell; width: 90%;}

#edit-field-stoma-loc-detail, #edit-field-abdomtender-loc { position: relative;}
#edit-field-stoma-loc-detail .form-checkboxes,
#edit-field-abdomtender-loc .form-checkboxes { width: 200px;}
#edit-field-stoma-loc-detail .form-checkboxes > .form-item,
#edit-field-abdomtender-loc .form-checkboxes > .form-item { width: 30%; margin-right: 0;}
#edit-field-stoma-loc-detail .description { position: absolute; bottom: 0px; right: 0px;}
#edit-field-abdomtender-loc .description { position: absolute; top: 0px; right: 0px;}
#edit-field-stoma-loc-detail .description > img,
#edit-field-abdomtender-loc .description > img { margin: 0;}

#edit-field-bp { width: 28%;}
#edit-field-bp-dias { width: 22%;}
#edit-field-bp label { width: 55%;}
#edit-field-bp span.field-suffix { display: none;}
#edit-field-bp-dias div.form-item { table-layout: auto;}
#edit-field-bp-dias label { width: auto; padding-left: 0;}
#edit-field-bp input,
#edit-field-bp-dias input { width: 60px;}

td.opr-qa { text-align: center;}
td.opr-qa span { cursor: pointer;}
.opr-qa-ok { color: green;}
.opr-qa-no { color: red;}
.opr-qa-na { color: #aaa;}
.opr-qa-reason { color: orange; cursor: help;}
.opr-qa-resubmitted { color: navy; cursor: pointer;}
.opr-admin-note { float: right; color: orange; cursor: help;}

td.opr-qa-log { width: 20px; text-align: center !important;}
td.opr-qa-reason { width: 50%;}

td.opr-formb { text-align: center !important;}
td.opr-formb img.icon-add { margin: 0;}

tr.opr-form-row.opr-form-selected { font-weight: bold;}

div.opr-forms-container a.opr-imported-toggle-on { display: none;}
div.opr-forms-container a.opr-imported-toggle-off { display: inline;}
div.opr-forms-container.opr-imported-toggled-off tr.opr-form-imported { display: none;}
div.opr-forms-container.opr-imported-toggled-off a.opr-imported-toggle-off { display: none;}
div.opr-forms-container.opr-imported-toggled-off a.opr-imported-toggle-on { display: inline;}

div.opr-search-filter-container { border: 1px solid #ccc; padding: 5px; margin: 0 5px 5px 0; float: left; width: 200px; min-height: 120px; position: relative;}
div.opr-search-filter-container h4 {
  margin: -5px -5px 1em -5px;
  font-size: 13px;
  padding: 0.4em 26px 0.4em 0.4em;
  background: #eee;
  border-bottom: 1px solid #ccc;
}
div.opr-search-filter-container input,
div.opr-search-filter-container select { max-width: 80%;}
div.opr-search-filter-container input.opr-search-filter-delete {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  border: medium none;
  background: transparent url("images/delete.png") no-repeat 0 0;
  padding: 0px;
  width: 22px;
  height: 22px;
  text-indent: -9999px;
  cursor: pointer;
}
div.opr-search-filter-box { border: 1px solid #ccc; padding: 1em; margin-bottom: 1em;}
div.opr-search-filter-box h3 { margin-top: 0;}

input[type=submit].form-submit {
  margin-right: 0.5em;
  background: none repeat scroll 0% 0% transparent;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font: bold 12px arial,sans-serif;
  color: #666;
  text-shadow: 0px 1px 0px #FFF;
  padding: 7px 12px;
}
input[type=submit].form-submit.form-submit-success {background: #008400; color: white; text-shadow: 0 1px 1px #666;}
input[type=submit].form-submit.form-submit-warning {background: #D28D00; color: white; text-shadow: 0 1px 1px #666;}
input[type=submit].form-submit.form-submit-danger {background: #D20000; color: white; text-shadow: 0 1px 1px #666;}

#modalContent div.ctools-modal-content { border-color: rgba(0, 0, 0, 0.1); border-radius: 4px; font-size: 13px;}
#modalContent div.ctools-modal-content .modal-header { padding: 0.5em 1em; background-color: #777;}
#modalContent div.ctools-modal-content .form-item label { width: 10em;}
#modalContent div.ctools-modal-content .resizable-textarea { margin-left: 10em; margin-right: 1em;}
#modalContent div.ctools-modal-content .form-actions { float: right; margin: 0.5em 1em;}
#modalContent ul { list-style-type: disc; margin-left: 2em;}
#modalContent ul li { list-style-type: inherit; display: list-item;}

tr.patient-history-event td { padding: 0.5em;}
tr.patient-history-inpatient td { height: 3em;}
tr.patient-history-event span.opr-study-label { float: right;}


/* HACK */
div.group-lab-results-inline h2 { font-size: 13px; font-weight: bold; color: black;}
